* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-image: url(./images/jungle.jpg);
    background-size: cover;
}

.timer {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 50px;
    border: 5px solid #000000;
    border-radius: 10%;
    background-color: #d09cfa;
    width: min-content;
}

h1, h2, h3, h4 {
    padding: 0 10px;
}

h1 {
    font-size: 100px;
    color: #f1f1f1;
    background-color: #ad1414;
    border: 7px outset #ff4d40;
    border-radius: 20%;
}

h2 {
    border: 7px outset #16deec;
    border-radius: 25%;
    text-align: center;
    font-size: 46px;
    background-color: #91f3eb;
}

h3 {
    border: 10px outset rgb(120, 240, 120);
    border-radius: 25%;
    text-align: center;
    font-size: 32px;
    color: #000000;
    background-color: rgb(177, 245, 177);
}

h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    width: min-content;
    border: 3px outset #fc6119;
    background-color: #ffb342;
}

.startBtn {
    text-align: center;
    margin-bottom: 160px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    min-height: 80vh;
    border: 2px solid #000000;
    border-radius: 10%;
    background-color: rgb(255, 234, 167);
}

.answerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}